@model QLSach.Models.Author

@{
    ViewBag.Title = "Chi tiết";
}

    <h2>Chi tiết</h2>

<div>
    <h4>Tác giả</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Thay đổi", "Edit", new { id = Model.AuthorId }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
